/* =Entry Content
------------------------------------------------------------------------- */
.content article {
	line-height: 1.6;
	margin: 0 0 2rem;
}
.content article .entry-header {
	margin: 0 0 1.825rem;
}
.content article h1.entry-title {
	margin: 0 0 0.5rem;
	border-bottom: 1px solid #D8D8D8;
}
.content figure {
	margin: 0;
}
.entry-content img {
	border: 1px solid #efefef;
}

/* =Post Info/Post Meta
------------------------------------------------------------------------- */
header .entry-meta,
footer .entry-meta {
	font-size: rem-calc(14);
}
footer .entry-meta span {
	display: inline-block;
	margin-right: 10px;
}
footer .entry-meta {
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	padding: 8px;
	margin: 0;
}
header .entry-meta i,
footer .entry-meta i {
	color: scale-color($body-font-color, $lightness: 50%);
}
header .entry-meta i {
	display: none;
}


/* =After Entry Widget Area
------------------------------------------------------------------------- */
.after-entry-widget-area {
	background: $body-bg-alt;
	color: $body-font-color-secondary;
	padding: 1.4rem;
	font-size: rem-calc(16);
	line-height: 1.6;
	margin: 1rem 0;
}
.after-entry-widget-area h4 {
	line-height: 1;
	margin: 0 0 1rem;
	color: $body-font-color-secondary;
}
.after-entry-widget-area a {
	color: $body-font-color-secondary;	
}
.after-entry-widget-area p {
	font-size: rem-calc(16);
	line-height: 1.4;
}


/* =Author Box
------------------------------------------------------------------------- */
.author-box {
	overflow: hidden;
	padding: 1.5rem;
	background: #fff;
}
.author-box .gravatar {
	float: left;
	margin: 0 1rem 1rem 0;
}


/* =Pagination/Post Navigation (most formatting included in foundation.css)
------------------------------------------------------------------------- */
.pagination {
	font-size: rem-calc(14);
	margin: 0.875rem 0;
}
