/* =Equity Widgets 
------------------------------------------------------------------------- */

/* =Custom Menu with Icon and Description
------------------------------------------------------------------------- */
.widget_nav_menu_desc ul {
	list-style-type: none;
	margin: 0;
}
.widget_nav_menu_desc ul li {
	list-style-type: none;
	line-height: 1;
	margin: 0 0 1.25rem;
}
.widget_nav_menu_desc ul li:before {
	content: "";
}
.widget_nav_menu_desc i {
	font-size: rem-calc(24);
	vertical-align: top;
	margin: 0 0.5rem 0.5rem 0;
}
.widget_nav_menu_desc .link-text {
	font-size: rem-calc(20);
	display: inline-block;
}
.widget_nav_menu_desc .link-text .link-title {
	display: block;
	margin: 0 0 0.325rem;
}
.widget_nav_menu_desc .link-text p.description {
	font-size: rem-calc(14);
	margin: 0;
}


/* =Featured Page/Posts
------------------------------------------------------------------------- */
.featured-page,
.featured-post {

}
.featured-page figure {
	margin: 0;
}
.featured-page article,
.featured-post article {
	margin: 0;
}
.featured-page article .entry-header,
.featured-post article .entry-header {
	margin: 0 0 0.25rem;
}
.featured-page h2,
.featured-post h2 {
	font-family: $paragraph-font-family;
	font-weight: $font-weight-normal;
	font-size: rem-calc(16);
}
.featured-page p.entry-meta,
.featured-post p.entry-meta {
	font-size: rem-calc(12);
	margin: 0 0 0.325rem;
}
.featured-page img,
.featured-post img {
	border: 1px solid #cacaca;
	width: 100%;
}
.featured-page .more-link,
.featured-post .more-link {
}


/* =Featured Page Carousel
------------------------------------------------------------------------- */
.equity-page-carousel {

}
.equity-page-carousel article {
	margin-bottom: 0;
}
.equity-page-carousel article .entry-header {
	margin-bottom: 0;
}
.equity-page-carousel img {
	border: 1px solid #cacaca;
}
.equity-page-carousel .owl-item .page-wrap {
	margin: 0 10px;
}
.equity-page-carousel .owl-controls {
	text-align: center;
	margin-top: 10px;
}
.equity-page-carousel .owl-controls i {
	font-size: 24px;
	display: block;
}
.equity-page-carousel .owl-controls span {
	text-transform: uppercase;
	font-size: 12px;
}
.equity-page-carousel .owl-controls .owl-prev,
.equity-page-carousel .owl-controls .owl-next {
	background: #f3f3f3;
	color: #9a9a9a;
	padding: 10px;
	border-radius: 45px;
	width: 45px;
	height: 45px;
	display: inline-block;
	margin: 10px;
}
.equity-page-carousel .owl-controls span {
	display: none;
}


/* =Listing Search (WP Listings)
------------------------------------------------------------------------- */
.wp-listings-search button {
	margin: auto;
	display: block;
}
.wp-listings-search button i {
	font-size: rem-calc(24);
	margin-right: 8px;
}


/* =Listing Scroller (WP Listings)
------------------------------------------------------------------------- */
.listings-scroller {

}
.listings-scroller .owl-item .listing {
	margin: 0 10px;
}
.listings-scroller img {
	border: 1px solid #cacaca;
}
.listings-scroller .owl-controls {
	text-align: center;
	margin-top: 10px;
}
.listings-scroller .owl-controls i {
	font-size: 24px;
	display: block;
}
.listings-scroller .owl-controls span {
	text-transform: uppercase;
	font-size: 12px;
}
.listings-scroller .owl-controls .owl-prev,
.listings-scroller .owl-controls .owl-next {
	background: #f3f3f3;
	color: #9a9a9a;
	padding: 10px;
	border-radius: 45px;
	width: 45px;
	height: 45px;
	display: inline-block;
	margin: 10px;
}
.listings-scroller .owl-controls span {
	display: none;
}


/* =Listing Scroller (WP Listings)
------------------------------------------------------------------------- */
/* =Carousel
------------------------------------------------------------------------- */
.equity-idx-carousel {
	overflow: hidden;
	position: relative;
}
.equity-idx-carousel .owl-item .carousel-property {
	margin: 0 10px;
}
.equity-idx-carousel .owl-item .carousel-photo img {
	position: relative;
	display: block;
	margin-bottom: 10px;
	border: 1px solid #cacaca;
}
.equity-idx-carousel .owl-controls {
	text-align: center;
	margin-top: 10px;
}
.equity-idx-carousel .owl-controls i {
	font-size: 24px;
	display: block;
	color: #fff;
}
.equity-idx-carousel .owl-controls .fa-caret-right {
	margin-left: 3px;
}
.equity-idx-carousel .owl-controls .fa-caret-left {
	margin-right: 3px;
}
.equity-idx-carousel .owl-controls span {
	text-transform: uppercase;
	font-size: 12px;
}
.equity-idx-carousel .owl-controls .owl-prev,
.equity-idx-carousel .owl-controls .owl-next {
	background: $primary-color;
	color: #9a9a9a;
	padding: 10px;
	border-radius: 45px;
	width: 45px;
	height: 45px;
	display: inline-block;
	margin: 10px;
	float: none !important;
}
.equity-idx-carousel .owl-controls .owl-prev:hover,
.equity-idx-carousel .owl-controls .owl-next:hover {
	background: scale-color($primary-color, $lightness: -14%);
}
.equity-idx-carousel .owl-controls span {
	display: none;
}
.equity-idx-carousel span.price {
	font-family: $header-font-family;
	font-size: rem-calc(24);
	margin-bottom: 0.225rem;
}
.equity-idx-carousel p {
	margin: 5px 0 0 0;
	color: $body-font-color;
}
.equity-idx-carousel span.street {
	display: block;
}
.equity-idx-carousel .beds-baths-sqft span {
	margin: 0 10px 0 0;
	font-size: 14px;
}


/* =Featured Listing Widget + Listings Scroller Widget
------------------------------------------------------------ */

.widget .listing-wrap {
	margin: 0 0 25px;
	width: 100%;
	text-align: left;
}

.widget .listing-widget-thumb {
	position: relative;
	overflow: hidden;
	line-height: 0px;
}

.widget .listing-widget-thumb img {
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	border: none;
}

.widget .listing-widget-thumb a {
	padding: 0;
	border: none;
	text-decoration: none;
}

.widget .listing-widget-thumb a img {
	max-width: 100%;
	max-height: none;
}

.widget .listing-wrap span.listing-status,
.widget .listing-wrap .listing-thumb-meta {
	position: absolute;
}

.widget .listing-wrap span.listing-status {
	width: 130px;
	padding: 5px;
	top: 20px;
	right: -28px;
	font-size: 12px;
	line-height: 18px;
	-moz-transform: scale(1) rotate(45deg) translate(0px);
	-webkit-transform: scale(1) rotate(45deg) translate(0px);
	-o-transform: scale(1) rotate(45deg) translate(0px);
	transform: scale(1) rotate(45deg) translate(0px);
}

.widget .listing-wrap .listing-thumb-meta {
	left: 0;
	bottom: 0;
	width: 100%;
}

.widget .listing-wrap .listing-thumb-meta span {
	color: $primary-color;
	font-family: $header-font-family;
	font-size: rem-calc(24);
	top: 0;
	left: 0;
	padding: 12px 10px;
	background: #fff;
	background: rgba(255,255,255,0.80);
	line-height: 1;
	display: table;
}

.widget .listing-wrap .listing-thumb-meta span.listing-property-type {
	display: none;
}

.widget .listing-wrap .listing-thumb-meta span.listing-price {
}

.widget .listing-wrap span.listing-open-house {
	display: block;
	padding: 5px 10px;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	background: #be1d2c;
}

.widget .listing-widget-details {
}

.widget .listing-widget-details h3.listing-title {
}

.widget .listing-widget-details h3.listing-title a {
}

.widget .listing-widget-details p.listing-address {
	line-height: 1.4;
	margin-bottom: 0;
}

.widget .listing-widget-details span.listing-address,
.widget .listing-widget-details span.listing-city-state-zip {
}

.widget .listing-widget-details .listing-beds-baths-sqft {
	width: 100%;
	padding: 0;
	margin: 10px 0 0;
	font-size: rem-calc(14);
}

.widget .listing-widget-details .listing-beds-baths-sqft li {
	list-style-type: none;
	display: inline-block;
}

.widget .listing-widget-details .listing-beds-baths-sqft li span {
	display: inline-block;
	margin-left: 5px;
}

.widget .listing-wrap .more-link {
	display: none;
}


/* =Listing overlays (for WP Listings - Featured Listing widget)
------------------------------------------------------------ */

.widget .listing-wrap span.listing-status {
	color: #fff;
	background: #53c331;
	background: rgba(83, 195, 49, 0.80);
	text-align: center;
	text-transform: uppercase;
	box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.2);
}

.widget .listing-wrap span.listing-status.active {
	background: #53c331;
	background: rgba(83, 195, 49, 0.80);
}
.widget .listing-wrap span.listing-status.sold {
	background: #be1d2c;
	background: rgba(190, 29, 44, 0.80);
}
.widget .listing-wrap span.listing-status.pending {
	background: #db8323;
	background: rgba(219, 131, 35, 0.80);
}
.widget .listing-wrap span.listing-status.new,
.widget .listing-wrap span.listing-status.reduced,
.widget .listing-wrap span.listing-status.for-rent {
	background: #24a4ea;
	background: rgba(36, 164, 234, 0.80);
}


/* =Column classes (for WP Listings - Featured Listing widget only)
------------------------------------------------------------ */

.widget .listing.one-half,
.widget .listing.one-third,
.widget .listing.one-fourth,
.widget .listing.one-fifth,
.widget .listing.one-sixth {
	float: left;
	margin: 0 0 15px 2.564102564102564%;
	padding: 0;
}

.widget .listing.one-half {
	width: 48.717948717948715%;
}

.widget .listing.one-third {
	width: 31.623931623931625%;
}

.widget .listing.one-fourth {
	width: 23.076923076923077%;
}

.widget .listing.one-fifth {
	width: 17.948717948717948%;
}

.widget .listing.one-sixth {
	width: 14.52991452991453%;
}

.widget .listing.first {
	clear: both;
	margin-left: 0;
}


/* =Property Showcase
------------------------------------------------------------------------- */
.widget .showcase-property span.price,
.shortcode .showcase-property span.price {
	margin: -30px auto 0px;
	width: auto;
	padding: 12px 10px;
	display: inline-block;
	font-family: $header-font-family;
	font-size: 20px;
	line-height: 1;
	text-align: center;
	color: $primary-color;
	background: #fff;
}

/* =Responsive (for WP Listings - Featured Listing widget only)
------------------------------------------------------------ */

@media (max-width: 767px) {
	.widget .listing.one-half,
	.widget .listing.one-third,
	.widget .listing.one-fourth,
	.widget .listing.one-fifth,
	.widget .listing.one-sixth {
		float: none;
		width: 100%;
		padding: 0;
		margin: 0 0 20px;
	}
}

/* =Default Widgets 
------------------------------------------------------------------------- */
table#wp-calendar {
	width: 100%;
}

.sidebar .widget_nav_menu .label {
	background: none;
}